USE [master]
GO
/****** Object:  Database [HanaShop_SE140970]    Script Date: 3/20/2021 8:57:12 PM ******/
CREATE DATABASE [HanaShop_SE140970]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HanaShop_SE140970', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\HanaShop_SE140970.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HanaShop_SE140970_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\HanaShop_SE140970_log.ldf' , SIZE = 1792KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HanaShop_SE140970].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HanaShop_SE140970]
GO
/****** Object:  Table [dbo].[AccOrder]    Script Date: 3/20/2021 8:57:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AccOrder](
	[orderId] [varchar](50) NOT NULL,
	[userId] [varchar](64) NOT NULL,
	[amount] [float] NOT NULL,
	[orderDate] [datetime] NOT NULL,
	[status] [bit] NOT NULL,
	[address] [nvarchar](300) NOT NULL,
	[email] [varchar](64) NOT NULL,
	[method] [varchar](50) NOT NULL,
	[receiverName] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_AccOrder] PRIMARY KEY CLUSTERED 
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/20/2021 8:57:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[userID] [varchar](64) NOT NULL,
	[password] [varchar](20) NULL,
	[userName] [nvarchar](30) NOT NULL,
	[role] [bit] NOT NULL,
	[favorCate] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/20/2021 8:57:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[cate_id] [varchar](20) NOT NULL,
	[cate_name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[cate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Food]    Script Date: 3/20/2021 8:57:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Food](
	[food_id] [varchar](20) NOT NULL,
	[food_name] [nvarchar](30) NOT NULL,
	[image] [varchar](max) NOT NULL,
	[description] [nvarchar](500) NOT NULL,
	[price] [float] NOT NULL,
	[quantity] [int] NOT NULL,
	[create_date] [datetime] NOT NULL,
	[status] [bit] NOT NULL,
	[cate_id] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Food] PRIMARY KEY CLUSTERED 
(
	[food_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MemberProjectDetail]    Script Date: 3/20/2021 8:57:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MemberProjectDetail](
	[subProjectID] [varchar](30) NOT NULL,
	[userID] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[subProjectID] ASC,
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MoneyIn]    Script Date: 3/20/2021 8:57:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MoneyIn](
	[ID] [varchar](30) NOT NULL,
	[projectID] [varchar](30) NOT NULL,
	[donatorName] [varchar](50) NULL,
	[donation] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MoneyOut]    Script Date: 3/20/2021 8:57:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MoneyOut](
	[ID] [varchar](30) NOT NULL,
	[subProjectID] [varchar](30) NOT NULL,
	[cost] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderFood]    Script Date: 3/20/2021 8:57:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrderFood](
	[orderId] [varchar](50) NOT NULL,
	[foodId] [varchar](20) NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [float] NOT NULL,
 CONSTRAINT [PK_OrderFood] PRIMARY KEY CLUSTERED 
(
	[orderId] ASC,
	[foodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Project]    Script Date: 3/20/2021 8:57:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Project](
	[projectID] [varchar](30) NOT NULL,
	[userID] [varchar](30) NOT NULL,
	[projectName] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
	[location] [nvarchar](50) NOT NULL,
	[startTime] [datetime] NOT NULL,
	[endTime] [datetime] NOT NULL,
	[status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[projectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RecordHistory]    Script Date: 3/20/2021 8:57:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RecordHistory](
	[userId] [varchar](64) NOT NULL,
	[userName] [nvarchar](30) NOT NULL,
	[description] [nvarchar](500) NOT NULL,
	[updateDate] [datetime] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/20/2021 8:57:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[roleID] [int] NOT NULL,
	[admin] [bit] NOT NULL,
	[manage] [bit] NOT NULL,
	[volunteer] [bit] NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubProject]    Script Date: 3/20/2021 8:57:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SubProject](
	[subProjectID] [varchar](30) NOT NULL,
	[projectID] [varchar](30) NULL,
	[quantityOfNeedMember] [int] NOT NULL,
	[startTime] [datetime] NOT NULL,
	[endTime] [datetime] NOT NULL,
	[location] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[subProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Account] ([userID], [password], [userName], [role], [favorCate]) VALUES (N'dailoi', N'123', N'Dai Loi', 1, N'123')
INSERT [dbo].[Account] ([userID], [password], [userName], [role], [favorCate]) VALUES (N'loiqdse140970@fpt.edu.vn', NULL, N'Olivier', 0, N'123')
INSERT [dbo].[Account] ([userID], [password], [userName], [role], [favorCate]) VALUES (N'olivier', N'123', N'Olivier', 0, N'125')
INSERT [dbo].[Category] ([cate_id], [cate_name]) VALUES (N'123', N'Vegetable, Bean')
INSERT [dbo].[Category] ([cate_id], [cate_name]) VALUES (N'124', N'Meat')
INSERT [dbo].[Category] ([cate_id], [cate_name]) VALUES (N'125', N'Sea Food')
ALTER TABLE [dbo].[MemberProjectDetail]  WITH CHECK ADD FOREIGN KEY([subProjectID])
REFERENCES [dbo].[SubProject] ([subProjectID])
GO
ALTER TABLE [dbo].[MoneyIn]  WITH CHECK ADD FOREIGN KEY([projectID])
REFERENCES [dbo].[Project] ([projectID])
GO
ALTER TABLE [dbo].[MoneyOut]  WITH CHECK ADD FOREIGN KEY([subProjectID])
REFERENCES [dbo].[SubProject] ([subProjectID])
GO
ALTER TABLE [dbo].[SubProject]  WITH CHECK ADD FOREIGN KEY([projectID])
REFERENCES [dbo].[Project] ([projectID])
GO
ALTER TABLE [dbo].[MoneyIn]  WITH CHECK ADD CHECK  (([donation]>(0.0)))
GO
ALTER TABLE [dbo].[MoneyOut]  WITH CHECK ADD CHECK  (([cost]>(0)))
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD CHECK  (([startTime]<=[endTime]))
GO
ALTER TABLE [dbo].[SubProject]  WITH CHECK ADD CHECK  (([startTime]<=[endTime] AND [quantityOfNeedMember]>=(0)))
GO
USE [master]
GO
