<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>RepairFilter</filter-name>
        <filter-class>loiqd.filter.RepairFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RepairFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>loiqd.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>loiqd.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateServlet</servlet-name>
        <servlet-class>loiqd.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>loiqd.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>loiqd.servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GotoDetailServlet</servlet-name>
        <servlet-class>loiqd.servlet.GotoDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFoodServlet</servlet-name>
        <servlet-class>loiqd.servlet.DeleteFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>loiqd.servlet.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateFoodServlet</servlet-name>
        <servlet-class>loiqd.servlet.CreateFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFoodToCartServlet</servlet-name>
        <servlet-class>loiqd.servlet.AddFoodToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>loiqd.servlet.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFoodFromCartServlet</servlet-name>
        <servlet-class>loiqd.servlet.RemoveFoodFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlaceOrderServlet</servlet-name>
        <servlet-class>loiqd.servlet.PlaceOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>loiqd.servlet.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>loiqd.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>loiqd.servlet.HistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/DispatcherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateServlet</servlet-name>
        <url-pattern>/CreateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GotoDetailServlet</servlet-name>
        <url-pattern>/GotoDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFoodServlet</servlet-name>
        <url-pattern>/DeleteFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateFoodServlet</servlet-name>
        <url-pattern>/CreateFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFoodToCartServlet</servlet-name>
        <url-pattern>/AddFoodToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFoodFromCartServlet</servlet-name>
        <url-pattern>/RemoveFoodFromCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlaceOrderServlet</servlet-name>
        <url-pattern>/PlaceOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/HistoryServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DispatcherServlet</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>SE140970</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
